<header>
  <nav>
    <ul >
      <li>
        <a 
          class="element"
          routerLink="/" 
          routerLinkActive="underline" 
          [routerLinkActiveOptions]="{ exact: true }">Home</a>
      </li>
      <li>
        <a 
          class="element"
          routerLink="/tasks" 
          routerLinkActive="underline" 
        >Tasks</a>
      </li>
      <li>
        <a 
          class="element"
          routerLink="/notes" 
          routerLinkActive="underline" 
        >Notes</a>
      </li>
      <li id="scale-input">
        <app-search/>
      </li>
      <li>
        <a 
          class="element"
          routerLink="/profile" 
          routerLinkActive="underline"
        >Log In</a>
      </li>
    </ul>
  </nav>
</header>
