div {
  padding: 1rem;
  max-height: 26rem;
  max-height: 60vh;

  display: flex;
  flex-direction: column;

  border: 1px solid transparent;
  border-radius: var(--border-radius);
  background-image: linear-gradient(var(--yellow-light), 
                                    var(--yellow-middle), 
                                    var(--yellow-dark));
}

h2 {
  font-size: 1.1rem;
  margin: 0;
}
 
ul {
  width: 100%;
  padding: .6rem;
  margin-bottom: 0;
}

li {
  list-style-type: '⠿';
}

li:hover {
  cursor: pointer;
}

button {
  margin: 0 0 .2rem .2rem;
  padding: 0;
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  background-color: transparent;
  transform: scale(1);
  transition: scale .3s ease;
}

button:hover {
  transform: scale(1.1);
}
button:active {
  transform: scale(1.2);
}

a {
  margin-right: .3rem;
  margin-bottom: .1rem;
  align-self: flex-end;

  font-weight: bold;
  color: black;

  transform: translateY(0);
  transition: transform .3s ease;
}

a:hover {
  transform: translateY(-.2rem);
}
a:active {
  transform: translate(.3rem, -.2rem);
}